@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Orelega One', cursive;
}
header{
    background-image: url(../image/3.jpg);
    background-size: cover;
    background-position: 20% 40%;
    background-repeat: no-repeat;
    height: 100vh;
}
h1,h2,h3,h4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: red;
    height: 10vh;
}
h1{
    font-size: 30px;
    padding-top: 50px;
}
h2{
    font-size: 28px;
}
h3{
    font-size:26px;
}
h4{
    font-size: 26px;
}
